#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  text-align: center;
  
}

#calculator {
  border: 15px solid var(--danger);
  border-radius: 1em;
  box-shadow: 0 5px 10px, 0 5px 10px 2px var(--danger);
  max-width: 230px;
}

#calc-pad {
  width: 200px;
}

#calc-pad > * {
  flex: 1 1 50px;
  padding: 15px;
  
}

#calc-pad > #clear {
  flex: 1 1 100px;
  
}

#output {
  max-width: 200px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  height: 40px;
  font-size: 30px;
} 

#display {
  max-width: 200px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  height: 30px;
  font-size: 20px;
}